# Semana01
Mg. Flor Elizabeth Cerdán León

2.Variables

Siempre deben iniciar con una letra o un guión.(Nunca con un número u otro símbolo)

In [2]:
edad=25

In [3]:
edad

25

In [4]:
nombre = "Flor"

In [5]:
nombre

'Flor'

In [6]:
apellido = "Cerdán León"

In [7]:
apellido

'Cerdán León'

In [8]:
nombrecompleto = nombre + apellido

In [9]:
nombrecompleto

'FlorCerdán León'

In [10]:
nombrecompleto = nombre + " " + apellido

In [11]:
nombrecompleto

'Flor Cerdán León'

In [13]:
# Para saber el tipo de variable utilizamos la función type()
# Por ejemplo:
numero = 50
type(numero)

int

In [14]:
type(nombre)

str

In [15]:
talla = 1.57

In [16]:
talla

1.57

In [17]:
type(talla)

float

In [18]:
# Para convertir una cadena a un decimal utilizamos float()
cadena2 ="50"
numero2 = float(cadena2)
numero2

50.0

In [19]:
type(numero2)

float