# Semana 01
Mg. Flor Elizabeth Cerdán León

Temas:

1. Números,
2. Variables,
3. Manejo de Cadenas,
4. Ingreso de datos por teclado
5. Operadores

5. Operadores

In [3]:
# 5.1 Operadores Aritméticos
# Se tiene: +, -, *, /, **, %, //

In [4]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [6]:
# 5.2 Operadores de asignación
# Se tiene: =, +, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [9]:
numero = 5
numero  += 3
print(numero)

8

In [10]:
# Potenccia
numero = 5
numero= numero** 3
print(numero)

125

In [11]:
# 5.3 Operadores de Comparación
# Se tiene: ==, !=, <, >, <=, >=,

In [12]:
# Ejemplo de Igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [13]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [14]:
# 5.4 Operadores Lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [15]:
numero1 < numero2

True

In [16]:
# El not invierte el resultado
not(numero1<numero2)

False

In [17]:
numero1<numero2 and numero3<numero4

True

In [18]:
# Tambien puedes utilizar parentesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [19]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [20]:
# Ejemplo:

aula = ["Daniel", "Sergio", "Diana"]
alumno1 = "Christiam"
alumno2 = "Daniel"

In [21]:
# ¿Christiam está en aula?
alumno1 in aula

False

In [22]:
# ¿Juan está en aula?
alumno2 in aula

True

In [23]:
# ¿Christiam no está en aula?
alumno1 not in aula

True

In [24]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [25]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [26]:
aula1 = ["Daniel", "Sergio", "Diana"]
aula2 = ["Daniel", "Sergio", "Diana"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [28]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [29]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [30]:
# ¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [31]:
aula1.append("Federico")

In [32]:
#Al imprimir los elementos de la lista aula1 se observar
print(aula1)

['Daniel', 'Sergio', 'Diana', 'Federico']

In [33]:
#Al imprimir los elementos de la lista aula3 se observar
print(aula3)

['Daniel', 'Sergio', 'Diana', 'Federico']

In [34]:
#Al imprimir los elementos de la lista aula2 se observar
print(aula2)

['Daniel', 'Sergio', 'Diana']