# Semana 01
MG. Flor Elizabeth Cerdán León

Temas:

1. Números,
2. Variables,
3. Manejo de Cadenas,
4. Ingreso de datos por teclado
5. Operadores

3. Manejo de Cadenas

In [2]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [3]:
# Universidad Nacional Tecnologica de Lima Sur
#01234.....                             -2 -1

In [4]:
cadena[5]

'r'

In [5]:
cadena[10]

'd'

In [6]:
# Tambien considera los espacios
cadena[11]

' '

In [7]:
# ¿Que me mostrará?
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [9]:
# Tambien lo puedo mostrar accediendo de manera inversa
cadena[-23]

'T'

In [10]:
# Para mostrar una subcadena[desde, hasta una antes]
cadena[3:8]

'versi'

In [12]:
# para saber el tamaño de una cadena utilizamos Len()
# incluye espacios en blanco
len(cadena)

44

In [13]:
# Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [14]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [15]:
# Si deseas cambiarlo harías: cadena = cadena.upper()
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [16]:
# Para mostrar una cadena en minuscula utilizamos Lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [17]:
# Generar una lista a partir de una cadena.split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [18]:
# Generar una lista utilizando un criterio de separación a partir de una cadena. split()
# En este caso vamos a generar una lista de toda la cadena, utilizando como criterio de separación: Letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [19]:
# Imprimir dando formato
# forma cl{asica "+"
# .format()
# f

In [21]:
# Forma clásica, concatenar con + 
nombre = "Flor Cerdán"
print("Buenos Días " + nombre)

Buenos Días Flor Cerdán

In [23]:
# Utilizando el .format()
nombre = "Pablo Lévano"
edad = 11
print("hola {} ya sé que tienes {} años".format(nombre,edad))

hola Pablo Lévano ya sé que tienes 11 años

In [24]:
# Dar formato a números con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f}" .format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [25]:
# Dar formato con f
# La función f, está disponible desde la versión 3.6
nombre = "Flor Lévano"
edad= 9
print(f"Buenos dias {nombre}, ya sé que tienes {edad} años")

Buenos dias Flor Lévano, ya sé que tienes 9 años

In [26]:
# Dar formato a números con muchos decimales con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333